// Variables

$header_footer_line_color_primary: black;
$bgcolor_header_footer_primary: #3f779d;
$bgcolor_header_footer_secondary: #b9cedc;
$font_family_primary: "Montserrat", sans-serif;
$show-from-center-parameters: (
   opacity_start: 0,
   transform_start: translateZ(70px),
   opacity_end: 1,
   transform_end: translateZ(0px),
);
