@import "variables";
@import "mixins";

/*
 00.HTML GENERAL
 -------------------------------------------------------------------
 */

@import "resets";

a:hover {
   font-weight: bold;
   font-size: x-large;
   letter-spacing: 2px;
}

/*
 01.HEADER
 -------------------------------------------------------------------
 */

.header {
   border-bottom: 1px solid $header_footer_line_color_primary;
   background: linear-gradient(
      to bottom,
      $bgcolor_header_footer_primary,
      $bgcolor_header_footer_secondary
   );

   &__img {
      @include img_size(150px, 30px);
   }
}

.transition {
   transition-property: opacity;
   transition-duration: 1s;

   &:hover {
      opacity: 0.2;
   }
}

/*
 02.HERO
 -------------------------------------------------------------------
 */

.main {
   align-items: center;

   &__img {
      animation: show-from-center 4s ease;
   }
}

.form__item {
   width: 100%;
   padding: 5px;
   margin-top: 10px;
   font-family: $font_family_primary;
}

.form__item__textarea {
   @extend .form__item;
   border-color: black;
}

.map_responsive {
   overflow: hidden;
   padding-bottom: 50%;
   position: relative;

   &__iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
   }
}

/*
 03.FOOTER
 -------------------------------------------------------------------
 */

.footer {
   border-top: 1px solid $header_footer_line_color_primary;
   background: linear-gradient(
      to top,
      $bgcolor_header_footer_primary,
      $bgcolor_header_footer_secondary
   );

   &__img {
      @include img_size(150px, 30px);
   }
}

/*
 04.KEY FRAMES
 -------------------------------------------------------------------
 */

@keyframes show-from-center {
   0% {
      opacity: map-get($show-from-center-parameters, opacity_start);
      transform: map-get($show-from-center-parameters, transform_start);
   }

   100% {
      opacity: map-get($show-from-center-parameters, opacity_end);
      transform: map-get($show-from-center-parameters, transform_end);
   }
}
